<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<% process.env.APP_URL %>/">
      <img src="<% process.env.APP_URL %>/static/images/Severe%20Downhill%20Shop.png" alt="Logo shopu" width="300" height="160">
      </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<% process.env.APP_URL %>/">Home</a>
        </li>

        <!-- Shop dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% categoriesTree.forEach(category => { %>
            <div style="display: flex;">
              <li>
                  <a class="dropdown-item" href="/kategorie/<%= category.ID_kategorie %>"><%= category.nazev %></a>
                  <ul style="display: table;">
                      <% (category.podkategorie ).forEach(podkategorie => { %>
                      <li style="list-style: none;"><a class="dropdown-item" href="/kategorie/<%= category.ID_kategorie %>/<%= podkategorie.ID_kategorie %>"><%= podkategorie.nazev %> </a></li>
                      <% }) %> 
                  </ul>
              </li>
            </div>
            <% }) %>  
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Video</a>
        </li>
      </ul>
        <a href="<% process.env.APP_URL %>/kosik" class="nav-item nav-link active border rounded-3 p-2 m-2 border-success">
          <img src="<% process.env.APP_URL %>/static/images/shopping-cart.png" style="height: auto; width: 20px;">
        </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Hledat" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Hledat</button>
      </form>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
