<!-- navbar -->
<%- include('../layouts/partials/nav-bar.ejs'); %>

<h1>Stranka s produkty</h1>

<!-- karta produktu -->
<ul class="list-group list-group-horizontal">
<% Produkty.forEach(produkt => { %>
    <li  style="list-style: none; ">
        <div class="card" style="width: 18rem; ">
        
            <img src="/<%= produkt.cesta_obrazekProduktu %>/01.jpg" class="card-img-top" alt="obrázek: <%= produkt.nazev %>">
            <div class="card-body">
            <h5 class="card-title"><%= produkt.nazev %></h5>
            <h6 class="card-price"><%= produkt.cena %> Kč</h6>
            <a href="/kategorie/produkty/<%= produkt.ID_produktu %>" class="btn btn-primary">Více:</a>
            </div>
        </div>
    </li>
<% }) %> 
</ul>

<!-- footer -->
<%- include('../layouts/partials/footer.ejs'); %>