<!-- navbar -->
<%- include('../partials/adminNav-bar.ejs'); %>
<h1 class="d-flex justify-content-center p-2">Admin sekce objednávek</h1>

<div class="border rounded p-2">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Číslo</th>
        <th scope="col">Datum přijetí</th>
        <th scope="col">Jméno zákazníka</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
        <th scope="col">Stav objednávky</th>
        <th scope="col">Cena objednávky</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
        <% VsechnyObjednavky.forEach(objednavka => { %>
            <% var datumCesky = new Date(objednavka.dat_prijeti) %> 
      <tr>
        <th scope="row"><%= objednavka.cislo %> </th>
        <td><%= datumCesky.getDate() %>. <%= datumCesky.getMonth() + 1 %>. <%= datumCesky.getFullYear() %></td>
        <td><%= objednavka.jmeno %> <%= objednavka.prijmeni %></td>
        <td><%= objednavka.telefon %></td>
        <td><%= objednavka.email %></td>
        <td><%= objednavka.Stav.nazev %></td>
        <td><%= objednavka.celkovaCena %> Kč</td>
        <td><a href="http://localhost:3000/login/admin-sekce/<%= objednavka.cislo %>" ><button class="btn btn-primary">Detail</button></a></td>
      </tr>
      <% }) %> 
    </tbody>
  </table>
</div>

<%- include('../partials/footer.ejs'); %>
