<!-- navbar -->
<%- include('../partials/nav-bar.ejs'); %>

    <div class="row">  

 <!-- Carousel obrázků k produktu -->
  <div class="col-md-6">
   <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/<%= produkt.cesta_obrazekProduktu %>/01.jpg " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/<%= produkt.cesta_obrazekProduktu %>/02.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/<%= produkt.cesta_obrazekProduktu %>/03.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
   </div>
   </div>

   <!-- header produktu -->
<div class="col-md-6">
  <h1><%= produkt.nazev %></h1>
  <h2><%= produkt.cena %> Kč</h2>
  <% if ( polozkyVKosiku?.some(polozka => polozka.IDproduktu == produkt.ID_produktu)) { // otaznik mi dela to ze jestli polozkyVKosiku jsou undefine tak se provede else %>
    <button class="btn btn-success" disabled>Produkt už je v košíku</button>
    <% }else{ %> 
<form action="/kosik" method="post">
    <input type="hidden" name="nazev" value="<%= produkt.nazev %> ">
    <input type="hidden" name="mnozstvi" value="1">
    <input type="hidden" name="ID_produktu" value="<%= produkt.ID_produktu %>">
    <input type="hidden" name="obrazekProduktu" value="<%= produkt.cesta_obrazekProduktu %>/01.jpg">
    <div class="submit-block"> 
        <button type="submit" class="btn btn-success">Vložit do košíku</button>
    </div>
</form>
  <% } %>
</div>

<!-- popis produktu -->
    <div class="col-md-12">
        <p><%= produkt.popis %> </p>
    </div>

    
</div>

<!-- footer -->
<%- include('../partials/footer.ejs'); %>