<%- include('../layouts/partials/nav-bar.ejs'); %>
<% if (dataPridejDoKosikuSession) { %>
<form action="" method="post">
  <div class="border p-2 mt-2 mb-2">
    <h1 class="d-flex justify-content-center p-2">Souhrn produktů</h1>
    <table class="table table-borderless p-2">
        <thead>
          <tr>
            <th scope="col">Produkt</th>
            <th scope="col">Mnozstvi</th>
            <th scope="col">Cena</th>
          </tr>
        </thead>
        <tbody>
        <% dataPridejDoKosikuSession.forEach(produkt => { %>
          <tr>
            <th scope="row">
                <img src="<%= produkt.obrazekProduktu %>" style="width: 70px; height: 70px;">
                <label class="p-2"><%= produkt.nazev %></label><!--Nazev-->
            </th>
                <td><input type="number" class="form-control p-2" value="<%= produkt.mnozstvi %>"></td><!--Mnozstvi-->
                <% (produkt.PorduktyInfo).forEach(produkt => { %>
                <td><label class="p-2"><%= produkt.cena %></label></td><!--Cena-->
                <% }) %> 
                <td><button class="btn btn-danger p-2">Odeber</button></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
  </div>

<!-- Udaje a doprava -->
<div class="row border p-2 mt-2 mb-2">
    <!-- Udaje -->
    <div class="col-md-8">
        <h1 class="d-flex justify-content-center">Tvoje udaje</h1>
        
            <div class="border p-2">
            <div class="row p-2">
                <div class="col-md-6">
                    <h3>Kontaktní údaje</h3>
                    <label class="label p-1">Jméno</label>
                    <input type="text" class="form-control p-1">
                      
                    <label class="label p-1">Příjmení</label>
                    <input type="text" class="form-control p-1">

                    <label class="label p-1">Telefon</label>
                    <input type="tel" class="form-control p-1">

                    <label class="label p-1">Email</label>
                    <input type="email" class="form-control p-1">
                </div>
                <div class="col-md-6">
                    <h3>Fakturační údaje</h3>
                    <label class="label p-1">Ulice a č.p.</label>
                    <input type="text" class="form-control p-1" >

                    <div class="row">
                        <div class="col-md-4">
                            <label class="label p-1">PSČ</label>
                            <input type="text" class="form-control p-1">
                        </div>
                        <div class="col-md-8">
                            <label class="label p-1">Město</label>
                            <input type="text" class="form-control p-1" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3"></div>
                <div class="row p-2">
                    <h3 class="p-2">Poznámka k objednávce</h3>
                    <textarea class="form-control p-2" rows="5"></textarea>
                </div>
            </div>
            
                <div class="form-check p-3">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Souhlasím s Obchodními podmínkami, beru na vědomí Zásady zpracování osobních údajů a zavazuji se k platbě. 
                    </label>
                  </div>
        <button type="submit" class="btn btn-success">Odeslat objednávku</button>
    </div>
    
    <!-- Doprava -->
    <div class="col-md-4">
        <h1 class="d-flex justify-content-center">Doprava</h1>
        <div class="row p-2 border ">
            <li style="list-style-type: none;">
                <div class="form-check p-3">
                    <input class="form-check-input" type="radio" id="osobniPrevzeti">
                    <label class="form-check-label" for="osobniPrevzeti">
                        Osobní vyzvednutí v Teplicích na prodejně 
                    </label>
                  </div>
            </li>
            <li style="list-style-type: none;">
                <div class="form-check p-3">
                    <input class="form-check-input" type="radio" id="poslaniZasilkovnou">
                    <label class="form-check-label" for="poslaniZasilkovnou">
                        Zásilkovna doručení na pobočku
                    </label>
                  </div>
            </li>
            <li style="list-style-type: none;">
                <div class="form-check p-3">
                    <input class="form-check-input" type="radio" id="PPLdoruceni">
                    <label class="form-check-label" for="PPLdoruceni">
                        PPL doručení na adresu
                    </label>
                  </div> 
            </li>
        </div>
        
    </div>
</div>
</form>
<div class="p-3"></div>

<% } else { %>
    <h2 class="d-flex justify-content-center p-2">Bohužel Váš košík je stále prázdný :(</h2>
    <div class="d-flex justify-content-center p-2">
        <img src="<% process.env.APP_URL %>/static/images/empty-cart.png" style="height: auto; width: 300px;">
    </div>
        
    
    <% } %>

<%- include('../layouts/partials/footer.ejs'); %>